.project-thumb-mobile {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}

.project-listing-mobile .project-content {
    padding-left: 15px;
    padding-right: 15px;
}

.project-listing-mobile .github-stats-card {
    margin-left: 15px;
    margin-right: 15px;
}

.project-listing-mobile .project-content p{
    margin-bottom: 15px;
    margin-top: 15px;
}

.mobile .project-description {
    margin-bottom: 30px;
}

.mobile .links-card p{
    margin-top: 10px;
}

.mobile .project-title {
    padding-top: 10px;
}

@media only screen and (max-width: 375px) {
    .mobile .links-card a {
        font-size: 15px;
    }
}
