.mobile-site-navbar {
    max-width: 400px;
    /* min-width: 280px; */
    width: calc(100% - 25px);
    margin-left: auto;
    margin-right: auto;
}

.mobile-site-navbar .tabs .indicator {
    background-color: white;
    height: 3px !important;
}

.mobile-site-navbar .row {
    margin-bottom: 10px
}

/* Desktop opacity may be too hard to see on mobile */
.mobile-site-navbar .tab a {
    opacity: .75;
}