.nav-home-animation .my-status {
    color: hsl(0, 0%, 36%);
    text-align: left;
    padding-left: 10px;
    font-size: 21px;
}

.nav-home-animation .animation {
    background: rgb(240, 240, 240);
    height: 70px;
    padding-top: 3px;
}

.animation .cursor {
    position: absolute;
    width: 3px;
    height: 28px;
    margin-top: 1px;
    margin-left: 3px;
    background: rgb(253, 142, 38)
}

.nav-home-animation div{
    text-align: left;
}
