.nav-home-animation .my-status {
    color: hsl(0, 0%, 36%);
    text-align: left;
    padding-left: 10px;
    font-size: 21px;
}

hr {
    margin-left:25px;
    margin-right:10px;
}

.nav-home-animation .animation {
    background: rgb(240, 240, 240);
    height: 70px;
    margin-left:18px;
    padding-top: 3px;
}