/* YOUTUBE VIDEO CSS */

div.iframe-container{
  position: relative;
  width: 100%; /* Fill the width of the parent */
  padding-bottom: 56.25%; /* YouTube's 16:9 aspect ratio */
  margin-bottom: 150px; /* Additional space between iframe and element below */
  height: 0;
}
div.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%; /* Fill the width of the parent */
  height: calc(100% + 130px); /* Fill height of parent, but add more height = black horizontal space on top & bottom of YT video */
  border-style:solid;
  box-shadow:  7px 10px 5px rgba(31, 37, 40, 0.33);
  border-radius: 10px

}

div.iframe-wrapper {
  max-width: 750px; /* controls max-width of iframe */
  margin-left: auto; /* center everything */
  margin-right: auto; /* center everything */
}