.skill-listing .col p{
    font-size: 25px;
    /* Center using flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .skill-listing .col p {
        font-size: 20px;
    }
  }
