.tabs {
    background-color: transparent;
    overflow: visible;
}

.tabs .tab a {
    color: white;
    opacity: .65;
    transition: .25s
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: white;
    opacity: 1;
    transition: .25s
}

.tabs .tab a:focus.active {
    color:white;
    background-color: transparent;
  }

.tabs .tab a{
    color: none
}

.site-navbar .tabs .indicator {
    background-color: white;
    height: 3px !important;
    margin-left: 5%;
    margin-right: 5%;
}

.tabs .tab a:hover span {
    opacity: 1;
    transition: .3s
}

.tabs span{
    opacity: 0;
    transition: .3s;
    display: block;
    position: absolute;
    width: calc(16.66% - 18px);
    top: -4em;
    background: black;
    text-transform: none; /* Allow casing */
    line-height: 2.5em;
    margin:-0;
    margin-left: -14.75px;
    
 }

 .tabs .tab span:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: calc(((100% - 20px)/2));
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #000 transparent transparent transparent;
 }