#App {
  text-align: center;
}

.my-status {
  font-family: "source sans pro" sans-serif;
  color: #aaa;
  font-size: 25px;
  font-weight: 300;
}

.nav-main{
  height: auto;
  padding-top: 22vh;
}

body {
  background-color: white;
}
