html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(180deg, rgb(191, 239, 255),
   rgb(64, 204, 255));
   background-repeat: no-repeat;
   background-attachment: fixed;
   overflow-y: scroll;
}

.card-stacked {
  padding-bottom: 30px;
}

.nav-experience p, .nav-open-source p, .nav-presentations p, .nav-current p{
  padding-left: 23px;
  padding-right: 23px;
  font-size: 16px;
  text-align: left;
  line-height: 2.25em;
  color: #777;
  font-family: source sans pro, sans-serif;
  padding-bottom: 15px;
}

.card-content .card-title {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 20px;
}

/* Card titles for small screens*/
@media only screen and (max-width: 350px) {
  .card-content .card-title  {
    font-size: 30px;
  }
  .card-content .card-sub-title {
    font-size: 20px !important;
  }
}

.card-content .card-sub-title {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 20px;
}

hr {
  margin-left:25px;
  margin-right:25px;
  opacity: .5;
}

#app {
  text-align: center;
}

.my-status {
  font-family: "source sans pro" sans-serif;
  color: #aaa;
  font-size: 25px;
  font-weight: 300;
}

.nav-main .row{
  margin-bottom: 0px;
}

.nav-main{
  height: auto;
  padding-top: 18vh;
}

.nav-main {
  animation: .4s ease-out 0s 1 wait, .4s ease-out .4s 1 slideInFromBottom;
  max-width: 950px;
}

/* The "language/tool" span */
.language-border span{
  display: inline-block;
  font-family: Arial;
  border: solid;
  padding: 0.35rem;
  margin: 0.4rem;
  border-width: 1px;
  border-radius: 0.25rem;
  border-color: rgba(203, 213, 224);
  background: rgb(248, 248, 248)
}
.language-border {
  margin-top: 10px;
}

/* YOUTUBE VIDEO CSS */

div.iframe-container{
  position: relative;
  width: 100%; /* Fill the width of the parent */
  padding-bottom: 56.25%; /* YouTube's 16:9 aspect ratio */
  margin-bottom: 150px; /* Additional space between iframe and element below */
  height: 0;
}
div.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%; /* Fill the width of the parent */
  height: calc(100% + 130px); /* Fill height of parent, but add more height = black horizontal space on top & bottom of YT video */
  border-style:solid;
  box-shadow:  7px 10px 5px rgba(31, 37, 40, 0.33);
  border-radius: 10px

}

div.iframe-wrapper {
  max-width: 750px; /* controls max-width of iframe */
  margin-left: auto; /* center everything */
  margin-right: auto; /* center everything */
  padding-top: 20px;
  padding-bottom: 20px;
}

@keyframes wait {
  from { transform: translateY(50px); opacity:0 }
  to { transform: translateY(50px); opacity:0 }
}

@keyframes slideInFromBottom {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/* CSS Transitions */
/* Below handles the dynamic CSS Transition and the overlay for a white fading*/
.fade-appear {
  opacity: 0;
}

.fade-appear .overlay {
  opacity: 0;
}

.fade-appear-active {
  opacity:1;
  transition-delay: .1s;
  transition-property: opacity;
  transition-duration: .5s;
}


.fade-appear-active .overlay{
  background: white;
  opacity:0;
  transition-delay: .1s;
  transition-property: opacity;
  transition-duration: .5s;
}

/* When component has completed its animation */
.fade-enter-done .overlay{
  background: white;
  opacity:0;
}